#canvases {
  position: relative;
  padding: 2vh;
}

.canvas-container{
  border-style: dotted;
  border-color: black;
  border-width: 1px; 
  display: flex;
  overflow: auto;
  margin: auto;
  padding: 10px;
  position: relative;

}

.header{
  text-align: center;
  font-family: 'Times New Roman';
}

.tabs{
  display: flex;
  position: relative;
  background-color: #040604;
  border-radius: 10px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: auto;
}

.tabs div {
  padding: 2px 5px;
  background-color: black;
  cursor: pointer;
  user-select: none;
}

main {
  margin-left: 300px;
  font-family: 'Times New Roman';
} 

/* navigation */
.sidebar {
  position: fixed;
  font-family: 'Times New Roman';
  width: 250px;
  height: auto;
  display: block;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-width: 10px;
  border-color: #4CAF50;
  border-radius: 20px;

}

/* Style the nav links and the dropdown button */
.dropdown {
  position: relative;
  display: block;
}

.dropbtn {
  background-color: #040604;
  border-radius: 10px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  position: relative;
}

.dropdown-content{
  display: none;
  align-items: center;
  /*position: sticky;
    right: -5%;*/
  width: auto;
  color: white;
  background-color: #4CAF50;
  border-color: white;
  border-radius: 10px;
  z-index: 1;
  padding: 10px;
  
}

.show {display: inline-block;}