.sidebar {
  position: fixed;
  width: 280px;
  height: auto;
  display: block;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-width: 10px;
  border-color: #4CAF50;
  border-radius: 20px;
  top: 0;
  bottom: 0;
  overflow-y: scroll
}

.tabs{
  display: flex;
  position: relative;
  background-color: #040604;
  border-radius: 10px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: auto;
}

.header, .connectports{
  text-align: left;
  padding: 10px;
  border-width: 1px;
  color: white;
  background-color: #4CAF50;
  border-color: white;
  border-radius: 10px; 
}

.connectports label{
  padding: 10px;
}
.connectports input, p{
  margin-left:10px;
  margin-bottom:10px;
}

#deviceName{
  display: block;
  font-size: 1.5em;
  margin-block: -8px;
}

#serialinfo{margin-top: 10px;}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content{
  width: 95%;
  color: white;
  background-color: #4CAF50;
  border-color: white;
  border-radius: 10px;
  padding-left: 16px;
  padding-top: 25px;
}

.checkboxes{
  display:block;
  margin-block: -48px;
  margin-top:-16px;
}

.dropdown-content label{
  display: block;
  margin-left: 17px;
  margin-top:32px;
}

.RPCCommands{
  border: 5px;
  padding: 10px;
}

.controls{
  margin-top: 5px;
  border-top-style: double;
  border-bottom-style: double;
}

.buttonCommands, .fft{
background-color: white;
color: black;
border-radius: 5px;
border-color: black;
margin: 3px;
cursor: pointer;
position: relative;
}

.InputCommands, .timeSpan{
  padding: 5px;
  position:relative;
  width: 30%;
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.checkCommands{ 
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

#canvases {
  position: relative;
  padding: 2vh;
  border: solid;
  border-width: 1px;
  margin-left: 320px;
}

.canvas-container {
  border-bottom-style: solid;
  border-color: black;
  border-width: 1px; 
  overflow: auto;
  margin: auto;
  position: relative;
}

#FFT {
  position: relative;
  padding: 2vh;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  margin-left: 320px;
  display: none;
}

