#canvases {
  position: absolute;
  padding: 2vh;
}

.canvas-container{
  border-style: dotted;
  border-color: black;
  overflow: auto;
  margin: auto;
  padding: 10px;
  position: relative;

}


h1{
  border-radius: 6px;
  border: 1px solid transparent;
  text-align: center;
  
}

/* navigation */
.sidebar {
  width: auto;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-width: 10px;
  border-color: #4CAF50;
  border-radius: 20px;
  position: relative;
}

/* Style the nav links and the dropdown button */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #040604;
  border-radius: 10px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  position: relative;
}

.dropdown-content {
  display: none;
  position: sticky;
    right: -5%;
  width: auto;
  color: white;
  background-color: #4CAF50;
  border-color: white;
  border-radius: 10px;
  z-index: 1;
  padding: 10px;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.show {display:block;}